<h1>Distribucion Binomial</h1>
<div class="flex">
    <div class="inputs">
        <div class="number">
            <input type="number" [(ngModel)]="nVariables" />
            <label> Número de variables</label>
        </div>

        <div class="number">
            <input type="number" [(ngModel)]="cantidad" />
            <label> Cantidad de números</label>
        </div>

        <div class="number">
            <input type="number" [(ngModel)]="n" />
            <label> Número de muestras</label>
        </div>

        <div class="number">
            <input type="number" [(ngModel)]="p" />
            <label> Probabilidad de exito</label>
        </div>

        <div class="number">
            <button class="gen" (click)="generar()">Generar</button>
        </div>
    </div>

    <div>
        <div class="lds-ring" *ngIf="isLoad">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="generados" *ngIf="!isLoad">
            <p class="item" *ngFor="let item of lista">{{ item }}</p>
        </div>
    </div>
</div>

<div class="cont">
    <div class="grafico">
        <div style="display: block">
            <app-bar-graphics *ngIf="!isVoid" [labels]="labels" [data]="data"></app-bar-graphics>
        </div>
    </div>
    <table *ngIf="!isVoid">
        <tr>
            <th>Número</th>
            <th>Frecuencia</th>
        </tr>
        <tr *ngFor="let item of data; let i = index">
            <td>{{ i }}</td>
            <td>{{ item}}</td>
        </tr>
        <tr></tr>
    </table>
</div>