<h1> Distribucion Binomial</h1>
<div class="flex">
    <div class="inputs">

        <div class="number">
            <input class="item uno" type="number" [(ngModel)]="nVariables">
            <label> Número de variables</label>
        </div>

        <div class="number">
            <input type="number" [(ngModel)]="cantidad">
            <label> Cantidad de números pseudo aleatorios</label>
        </div>

        <div class="number">
            <input type="number" [(ngModel)]="n">
            <label> Núumero de muestras</label>
        </div>

        <div class="number">
            <input type="number" [(ngModel)]="p">
            <label> Probabilidad de exito</label>
        </div>

        <div class="number">
            <button class="gen" (click)="generar()">Generar</button>
        </div>

    </div>

    <div>

        <div class="lds-ring" *ngIf="isLoad">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="grid " *ngIf="!isLoad">
            <p class="grid-item " *ngFor="let item of lista "> {{item}}
            </p>
        </div>
    </div>
</div>